/* Admin Dashboard Style Sheet */
/* Grid will be used over flexbox for this project to style the Admin Dashboard */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    /* Sets the dashboard grid box to the left side of the page with a unique background color*/
    background-color: rgb(101, 148, 248);
    color: white;
    justify-items: start;
    padding: 10px;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;

}

.dashboard ul {
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    justify-items: start;
    align-items: center;
}

.header {
    /*Sets the grid layout for the header across the top of the page with the user info*/
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: start;
    padding: 10px;
}

.profile {
    display: grid;
    justify-items: end;
    align-items: start;
    font-size: 18px;
}

.user {
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.buttons button {
    width: 100px;
    background-color: rgb(101, 148, 248);
    color: white;
}

.content {
    /*Sets the grid layout for the content portion of the page in the remaining space outside the header and dashboard*/
    background-color: grey;
    grid-row: 2 / 3;
}